

.faq_answer {

    
    list-style: none;
    display: none;
    background-color: aqua;
    font-size: 10px;

}

.faq_question {
    font-size: 10px;
    background-color: aquamarine;
    list-style: none;
}
